<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Smart Lock</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/landing-page.min.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Smart Lock</a>
        {% if logged_in == True %}
          <a class="btn btn-danger" href="/logout">Sign Out</a>
        {% else %}
          <a class="btn btn-basic" data-toggle="modal" data-target="#exampleModal">Sign In</a>
        {% endif %}
      </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="container">
            <form action="/login" method="post">
              <div class="modal-body">              
                  <div class="form-group">
                    <label for="user">Username</label>
                    <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}">
                    <!--<input type="name" class="form-control" id="user" placeholder="username"> -->
                  </div>

                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password }}">
                    <!--<input type="password" class="form-control" id="password" placeholder="password"> -->
                  </div>          
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input class="btn btn-primary" type="submit" value="Login"></button>
              </div>
            </form>
              {% if error %}
                 <p class="error"><strong>Error:</strong> {{ error }}
               {% endif %}

               {% for message in get_flashed_messages() %}
                {{ message }}
               {% endfor %}
         </div>
        </div>
      </div>
    </div>


    {% if logged_in == False %}
    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Connect to your Smart Lock</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="user" class="form-control form-control-lg" placeholder="Enter a username...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-basic">Sign up!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>

    {% endif %}

    {% if logged_in == True %}
        <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Welcome to your Smart Lock</h1>
          </div>    
        </div>
      </div>
    </header>

    {% endif %}

    {% if logged_in == True %}

    <h1> Add New Device </h1>
    
    <div class="container">
       <form action="/insert" method="post">
          <div class="modal-body">              
            <div class="form-group">
                <label for="user">Name</label>
                    <input type="text" class="form-control" placeholder="Username" name="name" value="{{request.form.name}}">
                    <!--<input type="name" class="form-control" id="user" placeholder="username"> -->
            </div>

            <div class="form-group">
              <label for="macAddress">MAC Address</label>
              <input type="text" class="form-control" placeholder="12345678" name="macAddress" value="{{request.form.macAddress}}">
                <!--<input type="password" class="form-control" id="password" placeholder="password"> -->
              </div>          
            </div>

             <div class="col-12 col-md-3">
               <button type="submit" class="btn btn-block btn-lg btn-basic">Add New</button>
              </div>
            </form>
              {% if error %}
                 <p class="error"><strong>Error:</strong> {{ error }}
               {% endif %}

               {% for message in get_flashed_messages() %}
                {{ message }}
               {% endfor %}
        </div>

    <h2> <br> Trusted Devices </h2>
    {% include 'tabled.html' %}

    {% endif %}

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Our Team</h2>
        <div class="row">
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
              <h5>Sai Pathuri</h5>
              <p class="font-weight-light mb-0"></p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
              <h5>Devanshi Padsala</h5>
              <p class="font-weight-light mb-0"></p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
              <h5>Taaha Kamal</h5>
              <p class="font-weight-light mb-0"></p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
              <h5>Oliver Warne</h5>
              <p class="font-weight-light mb-0"></p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Smart Lock 2018. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  </body>

</html>
